<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona Virus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:8080/">COVID-19</a>
    <div class="navbar-nav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/safety">Corona Safety</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/about-virus">About Virus</a>
            </li>
        </ul>
    </div>
</nav>

</body>

</html>