<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona Virus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:8080/">COVID-19</a>
    <div class="navbar-nav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/safety">Corona Safety</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/about-virus">About Virus</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="padding :20px 0 0 0;">
    <p>Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common cold to more severe diseases such as
        Middle East Respiratory Syndrome (MERS-CoV)and Severe Acute Respiratory Syndrome (SARS-CoV).
        A novel coronavirus (nCoV) is a new strain that has not been previously identified in humans.
    </p>
    <p>Coronaviruses are zoonotic, meaning they are transmitted between animals and people.
        Detailed investigations found that SARS-CoV was transmitted from civet cats to humans and MERS-CoV from dromedary camels to humans.
        Several known coronaviruses are circulating in animals that have not yet infected humans.<span style="font-size: 13px;"></span>
    </p>
    <p><span style="background-color: transparent; text-align: inherit; text-transform: inherit; white-space: inherit; word-spacing: normal; caret-color: auto;">Common signs of infection include respiratory symptoms, fever, cough, shortness of breath and breathing difficulties.
        In more severe cases, infection can cause pneumonia,
        severe acute respiratory syndrome, kidney failure and even death.</span>
    </p>
    <p>Standard recommendations to prevent infection spread include regular hand washing, covering mouth and nose when coughing
        and sneezing, thoroughly cooking meat and eggs.
        Avoid close contact with anyone showing symptoms of respiratory illness such as coughing and sneezing.
    </p>
    <span>Information taken from<a href="https://www.who.int/health-topics/coronavirus" target="_blank"> WHO (World Health Organisation)</a></span>
</div>
</body>

</html>